/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: 
   Date:   

   Filename: rb_validate.css

*/


/* Validation Styles */
/*changes the color when clicked on and changes the color and png if it is properly 
filled out or not*/
input:focus, select:focus, textarea:focus{
   background-color: rgb(255,255,180); 
}

input#nameBox:valid, input#phoneBox:valid{
   background: rgb(220,255,220) url(rb_okay.png) right/ contain no-repeat;
}

input#nameBox:invalid, input#phoneBox:invalid{
   background: rgb(255,230,230) url(rb_warning.png) right/ contain no-repeat;
}
